# Este archivo .gitignore debe colocarse en la raíz de tu proyecto de Unity

# Carpetas generadas por Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/

# Si deseas ignorar las herramientas del Asset Store, descomenta la siguiente línea
# [Aa]ssets/AssetStoreTools*

# Plugins de Jetbrains Rider autogenerados
[Aa]ssets/Plugins/Editor/JetBrains*

# Directorio de caché de Visual Studio
.vs/

# Directorio de caché de Gradle
.gradle/

# Archivos de solución y proyecto autogenerados de VS/MD/Consulo
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Archivos meta generados por Unity3D
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Archivo generado por Unity3D en informes de fallos
sysinfo.txt

# Builds
*.apk
*.aab
*.unitypackage
*.app

# Archivo generado por Crashlytics
crashlytics-build.properties

# Addressables empaquetados
[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Assets temporales autogenerados de Android
[Aa]ssets/[Ss]treamingAssets/aa.meta
[Aa]ssets/[Ss]treamingAssets/aa/*

# Archivos y carpetas específicos del sistema operativo
.DS_Store
Thumbs.db

# Rider
.idea/
*.sln.iml
